@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-image: var(--scroll-color);
  border-radius: 100rem;
}

::selection {
  background-color: var(--seclection-color);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
